@model Ecommerce_MVC_Core.ViewModel.Public.OrderDetailsViewModel
@{ ViewData["Title"] = "Success";
                Layout = "_Layout"; }
<link href="~/css/public/fixedTable.css" rel="stylesheet" />
<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-10 col-md-offset-1">
            <label>Order Success</label>
        </div>
    </div>

    <div class="row">
            <div class="text-danger" asp-validation-summary="ModelOnly"></div>
                guycdgiclhsgdkucygeihcgeliyhcve\vyudfgydfv
        ydfgyvgf
           </div>

</div>

